$color-primary:#55c57a; //Medium green
$color-primary-light: #7ed56f; //Light green
$color-primary-dark:#2833b4cc; //Dark green

$color-secondary-light: rgba(255, 255, 255, 0.85);
$color-secondary-dark: #777;

$color-tertiary-light: #CFD8DC;
$color-tertiary-dark: #455A64;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-border: #5C8396;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;